.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}
.formControl.error span {
    color: #d90000;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.formSummaryError {
    width: fit-content;
    border: 2px solid red;
    padding: 5px;
    color: #ff0000;
}