.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}
.formControl.error span {
    color: red;
    font-weight: bold;
}

.formSummaryError {
    width: fit-content;
    border: 2px solid red;
    padding: 5px;
    color: #ff0000;
}