.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
}
.header img {
    max-width: 150px;
}
.loginBlock {

}
.loginBlock a {
    color: white;
    font-weight: 500;
}
.userNameBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userName {
    font-size: 16px;
    color: #1E74FD;
    font-weight: 600;
}
.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb5bd;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease-in .2s;
}
.logoutBtn:hover {
    background-color: #1E74FD;
    color: #fbfcfe;
}