.navbar {
    grid-area: navbar;
    background-color: #ffa9b7;
}
.nav ul{
    list-style: none;
}
.item a{
    color: white;
    text-decoration: none;
}
.item a.active{
    color: rgba(66, 68, 110, 0.86);
    font-weight: 700;
}