.profileInfoWrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 16px;
}
.mainImgBox {
    max-height: 300px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 16px;
}
.mainImgBox img {
    object-fit: cover;
}
.descBlock {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 25px;
    align-items: start;
}
.userPhotoBox {
    position: relative;
    width: 100px;
    height: 100px;
}
.userPhoto {
    position: absolute;
    top: -45px;
    width: 100px;
    height: 100px;
    padding: 4px;
    background-color: #fff;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}
.userPhoto:hover .changePhotoBox {
    display: block;
}
.userPhoto img {
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.changePhotoBox {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 27%);
    opacity: 0;
    transition: all ease .3s;
}
.changePhotoBox:hover {
    opacity: 1;
}
.changePhotoLabel {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 16px;
    left: 35px;
    color: #dcdcdc;
    font-size: 12px;
    text-decoration: underline dotted;
    cursor: pointer;
}
.changePhotoInput {
    display: none;
}
.userFullName {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
.userStatus {
    font-family: "Open Sans", sans-serif;
    color: #888;
    font-weight: 500;
    font-size: 12px;
}
.userStatusInput {
    font-family: "Open Sans", sans-serif;
    color: #888;
    font-size: 12px;
    outline: none;
    border: none;
    border-bottom: 1px solid #afafaf;
}

.aboutWrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 16px 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 16px;
}
.aboutTitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}
.aboutTitle {
    font-family: Montserrat, sans-serif;
    margin: 0;
    color: #212529;
    font-size: 14px;
    font-weight: 700;
}
.editBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #adb5bd;
    font-size: 16px;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all ease-in .2s;
}
.editBtn:hover {
    color: #1E74FD;
}
.aboutDataWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Montserrat, sans-serif;
}
.aboutData {
    display: flex;
    align-items: center;
    gap: 10px;
}
.aboutData div div {
    display: flex;
    align-items: center;
}
.editAboutData {
    flex-direction: column;
    align-items: flex-start;
}
.aboutDataTitle {
    color: #212529;
    font-size: 14px;
    font-weight: 700;
}
.aboutDataText {
    font-weight: 500;
    color: #adb5bd;
    font-size: 12px;
}
.aboutData input, .aboutData textarea {
    border: none;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border-bottom: 1px solid #adb5bd;
    color: #adb5bd;
    outline: none;
}
.aboutData textarea {
    width: 500px;
    max-height: 20px;
}
.contactsWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
.editContactsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 15px;
}
.editContact {
    display: flex;
    gap: 10px;
}
.contacts a {
    color: #adb5bd;
}
.contacts a:hover {
    color: #1E74FD;
}
.saveBtn {
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    padding: 10px 5px;
    border-radius: 7px;
    background-color: #343a40;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.saveBtn:hover {
    background-color: #1E74FD;
}