.loginWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    min-height: 500px;
    margin: 0 auto 0;
    background-color: #fff;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.login {
    max-width: 350px;
}
.title {
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}
.inputWrapper {
    position: relative;
    margin-bottom: 16px;
}
.iconWrapper {
    position: absolute;
    left: 15px;
    top: 16px;
    color: #888888;
    font-size: 22px;
}
.inputWrapper div div {
    display: flex;
    align-items: center;
}
.inputWrapper input {
    outline: none;
    font-family: Montserrat, sans-serif;
    color: #21252D;
    font-weight: 500;
    width: 348px;
    height: 50px;
    padding: 6px 12px 6px 44px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 7px;
}

.rememberWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.rememberWrapper label {
    font-family: Montserrat, sans-serif;
    color: #adb5bd !important;
    font-size: 14px;
    font-weight: 400;
}
.loginBtn {
    background-color: #343a40;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    color: #fff;
    cursor: pointer;
}