.app-wrapper {
  display: grid;

  grid-template-areas:
  "header header"
  "navbar content";
  margin: 0 auto;
  grid-template-rows: 96px 1fr;
  grid-template-columns: 280px 1fr;

}

.main-wrapper {
  grid-area: content;
  padding-top: 20px;
  padding-bottom: 20px;
}